# Ignorar configuraciones locales y secretos
/.env
/.env.local
/.env.prod
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

# Ignorar directorios y archivos generados
/public/bundles/
/var/
/vendor/
/public/uploads

# Ignorar configuraciones de PHPUnit
/phpunit.xml
.phpunit.result.cache

# Ignorar configuraciones de Symfony PHPUnit Bridge
.phpunit.result.cache
/phpunit.xml

# Ignorar configuraciones de Symfony Asset Mapper
/public/assets/
/assets/vendor/

