{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
  {% include 'components/navbar.html.twig' %}

  <br><br><br>

  <div style="margin: 20px; overflow: auto;">
    <table style="width: 100%; border-collapse: collapse;">
      <thead style="background-color: #9e2343; color: #ffffff; border: 1px solid #9e4323;">
        <tr>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">#</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">First</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Last</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
            <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
            <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
          <th scope="col" style="padding: 10px; border: 1px solid #9e4323;">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #ffffff;">
          <th scope="row" style="padding: 10px; border: 1px solid #98989a;">1</th>
          <td style="padding: 10px; border: 1px solid #98989a;">Mark</td>
          <td style="padding: 10px; border: 1px solid #98989a;">Otto</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@mdo</td>
        </tr>
        <tr style="background-color: #ffffff;">
          <th scope="row" style="padding: 10px; border: 1px solid #98989a;">2</th>
          <td style="padding: 10px; border: 1px solid #98989a;">Jacob</td>
          <td style="padding: 10px; border: 1px solid #98989a;">Thornton</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@fat</td>

        </tr>
        <tr style="background-color: #ffffff;">
          <th scope="row" style="padding: 10px; border: 1px solid #98989a;">3</th>
          <td style="padding: 10px; border: 1px solid #98989a;">Larry</td>
          <td style="padding: 10px; border: 1px solid #98989a;">the Bird</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
          <td style="padding: 10px; border: 1px solid #98989a;">@twitter</td>
        </tr>
        
        <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </div>

{% endblock %}
