<style>
  /* Add container styles */
  .form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #dec9a3;
    color:#ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 80vh;
  }

  /* Add form styles */
  form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-color: #9e2343;
  }

  input[type="checkbox"] {
    margin-right: 8px;
    border-color: #9e2343;
  }

  .button2 {
    padding: 10px;
    background-color: #9e2343;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Hacer que el botón ocupe el ancho completo */
  }
</style>

{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
    {{ form_widget(form) }}

    {% if form.vars.data.Material is not null %}
        <div>
            <label for="material_precio">Precio del Material:</label>
            <span id="material_precio">{{ form.vars.data.Material.precio }}</span>
        </div><br>
    {% endif %}

    <button class="button2">Guardar</button>
{{ form_end(form) }}
