<style>
  /* Add container styles */
  .form-container {
    max-width: 80%; /* Adjust the maximum width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    max-height: 70%; /* Altura máxima del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido desborda */
    overflow-x: hidden;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"], /* Estilo para el input de fecha */
  input[type="number"], /* Estilo para el input numérico */
  select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  input[type="checkbox"] {
    width: auto;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  #nueva-captura-button {
        
        top: 10px;
        right: 10px;
        background-color: #9e2343; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */
    }
</style>

{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
    {{ form_widget(form) }}


<br>
    <button id="nueva-captura-button">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Escuchar cambios en el campo de selección de Material
        $('select[name="entrada[Material]"]').change(function() {
            // Obtener el valor seleccionado
            var materialId = $(this).val();

            // Realizar una solicitud AJAX para obtener el precio del material seleccionado
            $.ajax({
                url: 'http://127.0.0.1:8000/material/crud/obtener-precio/' + materialId,
                method: 'GET',
                success: function(response) {
                    // Actualizar el precio de compra en el formulario
                    $('#entrada_precio_compra').val(response.precio);
                },
                error: function() {
                    console.log('Error al obtener el precio del material');
                }
            });
        });
    });
</script>
