
<style>
 #nueva-captura-button2 {
        
        top: 10px;
        margin-left: 80%;
        background-color: #9e2343; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 15px; /* Ajusta el valor según sea necesario */
    
}
</style>
<form method="post" action="{{ path('app_material_crud_delete', {'id': material.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button id="nueva-captura-button2">Delete</button>
</form>
