{% extends 'base.html.twig' %}

{% block title %}Editar Salida{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('styles/Edit_salida.css') }}">

    <h1>Editar Salida</h1>

    {{ include('salida/_form.html.twig', {'button_label': 'Guardar'}) }}
    {{ include('salida/_delete_form.html.twig') }}
    <div class="back-container">
        <a id="btn-back" href="{{ path('app_salida_index') }}">Regresar</a>
    </div>
{% endblock %}
