{% extends 'base.html.twig' %}

{% block title %}New Salida{% endblock %}

{% block body %}
<style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #capturas-section {
            margin-top: 50px;
            max-height: 70%; /* Altura máxima del contenedor */
            overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido desborda */
            overflow-x: hidden; /
        }
        .text-content{
          text-align: center;
        }

        #capturas-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

body {
  background: #f4f4f4;
}


.bodybotoon{
  text-align: center;
}

 .button2 {
        background-color: #691B31 !important;
        border: #691B31 !important;
        color: white !important;
        padding: 10px 20px !important; 
        border-radius: 10px !important;
        cursor: pointer !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        display: inline-flex !important;
        align-items: center !important; 
        height: 50px !important; 
        text-decoration:none;
        
    }
     .button2:hover {
        background: transparent !important;
        border: 2px solid #691B31 !important;
        color: #691B31 !important;
        text-decoration: none !important;
    }

.text-content h1{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        font-size: 4em;
        text-align: center;
        color:#681831;
        margin-top:2%;
    }

@media screen and  (max-width: 450px){
  .button3{
    width: 86%;
  }
}
    </style>



   {% include 'components/navbar.html.twig' %}
    <div id="capturas-section">
      <div class="text-content">
        <h1>Crear nueva salida</h1>
      </div>

      {{ include('salida/_form.html.twig') }}
      <div class="bodybotoon">
        <a href="{{ path('app_salida_index') }}" class="button2">Regresar</a>
      </div>
    </div>
  

{% endblock %}
