{% extends 'base.html.twig' %}

{% block title %}New Salida{% endblock %}

{% block body %}
    <h1>Create new Salida</h1>

    {{ include('salida/_form.html.twig') }}

    <a href="{{ path('app_salida_index') }}">back to list</a>
{% endblock %}
