<h2>Reporte fotográfico</h2>

<div class="col-md-4 mb-4">
    <img src="{{ asset('uploads/' ~ levantamiento[0][0].imagen1) }}" class="img-fluid" style="max-width: 100%;" alt="Imagen 1">
</div>

<div class="col-md-4 mb-4">
    <img src="{{ asset('uploads/' ~ levantamiento[0][0].imagen2) }}" class="img-fluid" style="max-width: 100%;" alt="Imagen 2">
</div>

<div class="col-md-4 mb-4">
    <img src="{{ asset('uploads/' ~ levantamiento[0][0].imagen3) }}" class="img-fluid" style="max-width: 100%;" alt="Imagen 3">
</div>
